.contact-page-form{
    .form-group{
        margin-bottom: 25px;
        .form-control{
            margin-bottom: 0 !important;
        }
    }

    select{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    span.wpcf7-not-valid-tip{
        text-align: left;
    }
    
    .anr_captcha_field_div{
        text-align: center;
        >div{
            display: inline-block;
        }
    }
}