footer.footer-area{
    color: var(--paragraph-color-light, #b5b5b5);
    .footer-top{
        background: #000000;
    }
    .footer-logo{
        img{
            max-width: 250px;
        }
    }
    .widget ul.info-items-text{
        li{
            display: inline-block !important;
        }
    }
}