.navbar-area.nav-style-01.fixed {
    position: fixed !important;
    top: -80px;
    width: 100%;
    background-color: #000000 !important;
    z-index: 10;
    .logo-wrapper{
        img{
            max-width: none;
            height: 60px;
            width: auto;
        }
    }
}
.navbar-area.navbar-default.nav-style-01{
    background-color: #000000 !important;
    .nav-container{
        background-color: #000000 !important;
    }
}

.header-style-06{
    .topbar-area{
        .topbar-inner{
            .left-contnet{
                @include respond-below(lg) {
                    display: none;
                }
            }
        } 
    }
    .navbar-area.nav-style-01{
        @include respond-below(lg) {
            top: 65px;
        }
    }
    .logo-wrapper img{
        @include respond-below(md) {
            max-width: 120px;
        }
    }
}