.preloader-inner{
    .spinner{
        svg{
            &:nth-child(4) circle{
                stroke: var(--main-color-one, #333841);
            }
            &:nth-child(3) circle{
                stroke: #c6713d;
            }
            &:nth-child(2) circle{
                stroke: #8e644c;
            }
            &:nth-child(1) circle{
                stroke: var(--secondary-color, #333841);
            }
        }
    }
}
