.wol-testimonial {
    .testimonial-carousel-wrapper {
        .single-testimonial-item {
            .icon {
                font-size: 40px;
                line-height: 45px;
                margin-right: 15px;
            }
        }
    }
}

.wol-benefits{
    .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated{
        padding: 20%;
    }
}

.wol-users {
    .elementor-swiper {
        .elementor-testimonial__image {
            img {
                width: 50%;
                height: auto;
                border-radius: 0;
            }
        }
    }
}

.wol-solutions{
    color: var(--paragraph-color-light, #b5b5b5);
}

.btn-inherit * {
    font-family: inherit !important;
    font-style: normal !important;
    font-size: 16px !important;
}