.wol-features-box{
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    .price-header{
        .title{
            margin: 0;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .features-body{
        padding: 20px 0 130px 0;
        ul{
            text-align: left;
            display: inline-block;
            margin: 0 auto;
            padding: 0 0 0 2em;
        }
    }
    .price-footer{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
}
