.wol-header-one{
    &.owl-carousel{
        .owl-stage{
            display: flex;
            .owl-item{
                display: flex;
            }
        }
    }

    .header-area {
        padding: 120px 0 60px 0;
        display: flex;
        height: 100%;
        width: 100%;
        min-height: 90vh;
        position: relative;
        @include respond-above(md) {
            padding: 200px 0 60px 0;
        }
        .row{
            min-height: 100%;
        }

        img.header-background{
            position: absolute;
            left: 0; top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .header-inner{
            .subtitle{
                font-size: 1em;
                line-height: 1em;
                @include respond-above(md) {
                    font-size: 1.5em;
                    &:after{
                        top: 0.65em;
                    }
                }
            }
            .title{
                font-size: 2em;
                line-height: 1.2em;
                @include respond-above(md) {
                    font-size: 3em;
                    line-height: 1.3em;
                }
            }
        }
    }
}
