/*!
Theme Name: Attorg Child | Shared by VestaThemes.com
Theme URI: https://irtech.biz/wp/attorg/
Author: Ir-tech
Author URI:  https://themeforest.net/user/ir-tech
Description: This is a child theme of Attorg
Version: 1.0.0
Template: attorg
 Text Domain:  attorg-child
*/

:root {

    --main-color-one: #ff7f2f;
    --secondary-color: #55565a;
    --heading-color: #202020;
    --paragraph-color: #4f4f4f;
    --paragraph-color-light: #b5b5b5;

}

/**
 * Abstracts
 */
@import
 'abstracts/mixins';

/**
 * Components
 */
@import
 'components/preloader',
 'components/typography',
 'components/header',
 'components/contact-form',
 'components/footer';

/**
 * Widgets
 */
@import
 'widgets/elementor-mains',
 'widgets/wol-header-one',
 'widgets/wol-features-box';

/**
 * Pages
 */
@import
 'pages/home';

 /*for browsers which support object fit */
[data-object-fit='cover'] {
    object-fit: cover
}

[data-object-fit='contain'] {
    object-fit: contain
}